/*Задание 1*/
a {
	color: red;
}
a:hover {
	text-decoration: none;
}
/*данный селектор выбирает все вилы сссылок и задает им крассный цвет, а так же выбирает что при наведении на ссылкку она небудет подчеркнута. */

/*Задание 2*/
a.zzz {
	color: green;
}
a.zzz:hover {
	text-decoration: none;
}
/*данный селектор выбирает ссылки с класссом zzz задает им зеленный  цвет, а также при наведении на них убирает подчеркивание*/

/*Задание 3*/
#block a.zzz {
	color: orange;
}
#block a.zzz:hover {
	text-decoration: none;
}
/* данный селектор выбирает все ссылки с классом zzz в блоке с id и красит их в оранжевый цвет, так же он использует селектор для удаления подчеркивания при наведении курсора*/


/*Задание 4*/
.block a.zzz {
	color: red;
}
.block a.zzz:hover {
	text-decoration: none;
}

/* данное селектор выбирает все ссылки с классом zzz из класса block, так же он использует селектор для удаления подчеркивания при наведении курсора */