/*Задание 1*/
h2 {
	font-size: 20px;
}
h2 {
	font-size: 30px;
}
/*После выполнения кода текст будет в размера 30px */

/*Задание 2*/
h2 {
	font-size: 20px;
	color: blue;
}
h2 {
	font-style: italic;
	color: red;
}

/*После выполнения кода текст будет в размера 20px  в шрифте Italic, в крассном цвете */